<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safariagaming.twidle">

    <!-- package name -->
    <!-- Components of the app -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:largeHeap="true"
        >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- An intent is a message that requests some actions to be done -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LightSwitch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BubbleWrap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Velcro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sizzling"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirePlace"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lighter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Zipper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Lock"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>